.info{
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
    

    .icon{

        > i{
            font-size: 3.85rem;
        }
    }
    .info-title{
        color: $black-color;
        margin: 0.875rem 0 0.875rem;
    }
    p{
        color: $gray-color;
        
    }
}

.info-horizontal{
    .icon{
        float: left;
        margin-top: 0.875rem;
        margin-right: 10px;

        >i{
            font-size: $h2-font-size;
        }
    }
    .description{
        overflow: hidden;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 0.8rem;
        height: 100%;
    }

}

.icon {
  &.icon-primary {
    color: $primary;
    }
  &.icon-info {
    color: $info;
  }
  &.icon-success {
    color: $success;
  }
  &.icon-warning {
    color: $warning;
  }
  &.icon-danger {
    color: $danger;
  }
  &.icon-rose {
    color: $rose;
}
}
