
.timeline {
    border-left: 2px solid #2f2d65;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: #00000000;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 0 30px;
    list-style: none;
    text-align: left;
    max-width: 60%;
    color: #2f2d65;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}
@media (min-width: 767px) {
    .timeline {
        margin: 0 0% 0 30%;
        max-width: 60%;
    }
 }

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: $font-weight-extra-bold;
    font-size: 1rem;
    color: #2f2d65;
    font-weight: 600;
}

@media (min-width: 768px) { 
    .timeline h2 {
        margin-top: 0;
    }
 }

.timeline .event {
    border-bottom: 1px dashed #ff8a3d;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    position: relative;
    background-color: #d3ddff;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    margin-bottom: 0;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    top: 1.5rem;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 25px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 2px #2f2d65;
    box-shadow: 0 0 0 2px #2f2d65;
    left: -35.8px;
    background:#ffffff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 1.8rem;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -30px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 25px;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}