@mixin navbar-colors($color, $link-color) {
    color: #2f2d65;
    background-color: $color !important;
    @include shadow-navbar-color($color);

    .dropdown-item:hover,
    .dropdown-item:focus{
      @include shadow-small-color($color);
      background-color: $color;
      color: $link-color;
    }

    .navbar-toggler{
        .navbar-toggler-icon{
            background-color: $primary;
        }
    }
}
